a.link {
  text-decoration: none;
  color: #fff;
}
a.link:visited {
  color: #fff;
}

body {
  font: arial;

  color: #bc5790;
  background-color:#333;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header header {
  font-size: 1.75rem; /* Adjust font size as needed */
}

header button {
  margin: .25em; /* Use em for margin */
  padding: 0.5em 1em; /* Use em for padding */
  font-size: 1.5rem;
  background-color: #f76902; /* Button background color */
  color: #fff; /* Button text color */
  border: 0.1em solid #ffffff; /* Solid border */
  border-radius: 0.2em; /* Use em for border radius */
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Smooth hover effect */
  font-weight: bold;
  
}

header button:hover {
  background-color: #ff9900; /* Change button color on hover */
  font-size: 1.5rem; /* Increase font size */
  padding: 0.4em 1em; /* Decrease padding to maintain button size */
  font-weight: bold;
}

/* Container element for cast members */
.cast-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  font-family: Helvetica, sans-serif;
}

.castMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1vw;
}

/* Update the styles for person-name and whatTheyDo */
.person-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 8vw;
  font-weight: bold;
}

.headshots {
  object-fit: contain;
  width: 80%;
}

.bio {
  text-align: center;
  font-size: 6vw;
  font-weight: 550;
}

/* Styles for the filter selection drop down in the info tab */
.filter {
  margin: 1rem; /* Adds spacing between crew members */
  display: flex; /* Uses flex display for alignment of image and text */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: left; /* Centers items horizontally */
}

/* Styles for the dropdown within the filter */
.filter select {
  padding: 0.5rem; /* Adds padding inside the dropdown */
  font-size: 1rem; /* Sets the font size */
  border: 1px solid #ccc; /* Adds a border */
  border-radius: 5px; /* Rounds the corners of the dropdown */
  background-color: #fff; /* Sets the background color */
  cursor: pointer; /* Shows a pointer cursor on hover */
}

/* Styles for dropdown option */
.filter select option {
  background-color: #fff; /* Sets the background color of options */
  color: #333; /* Sets the text color of options */
}

/* Styles for dropdown option on hover */
.filter select option:hover {
  background-color: #f1f1f1; /* Sets the background color on hover */
}