body {
  color: hsl(0, 0%, 100%);
  font: arial;
  background-image: linear-gradient(to bottom, rgba(247, 105, 2, 1) 20%, rgba(255, 255, 255, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  font-size: 1.75rem; /* Adjust font size as needed */
}

button {
  margin: .25em; /* Use em for margin */
  padding: 0.5em 1em; /* Use em for padding */
  font-size: 1.5rem;
  background-color: #f76902; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 0.2em; /* Use em for border radius */
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Smooth hover effect */
  font-weight: bold;
  
}

button:hover {
  background-color: #ff9900; /* Change button color on hover */
  font-size: 1.5rem; /* Increase font size */
  padding: 0.4em 1em; /* Decrease padding to maintain button size */
  font-weight: bold;
}

a.link {
  text-decoration: none;
  color: #fff;
}
a.link:visited {
  color: #fff;
}